{% extends 'base.html' %}{% block content %}
<div class="container-fluid" style="margin-top: 5%">
    <div class="d-flex justify-content-lg-center">
        {% if conf_message %}
        <div class="alert">
            {{ conf_message }} <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> </div>{% endif %}
    </div>
    <div class="d-flex justify-content-lg-center">
        <a class="btn btn-dark" href="{% url 'index_view'%}">Go to Homepage</a>
    </div>
    {% endblock %}