{% extends 'base.html' %}{% block content %}
<div class="container-fluid" style="margin-top: 5%">
    <div class="d-inline-flex justify-content-lg-start">
        <a class="btn btn-secondary" href="/update/{{object.pk}}">Update</a> &nbsp;
        <a href="{% url 'delete_entry' object.pk %}" onclick="return confirm('Do you really want to delete this entry? It cannot be undone.')" class="btn btn-danger">Delete</a>
    </div>
    <div class="d-lg-flex justify-content-end">
        <a class="btn btn-dark" href="{% url 'index_view'%}">Go Back</a>
    </div>
    <br>
    <div class="col-lg-15" id="p1" style="color:#004263">
        <h4>{{object.title}}</h4>
        <h6>{{object.created_at}}</h6>
        <br>

        <p>{{object.body}}</p>
        <br>
    </div>
    {% endblock %}